@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
::selection{
    background-color: rgb(201, 193, 194);
    color: black;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: auto;
}
.nav-head{
    color: black;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}
.nav-bars{
    list-style-type:none;
    display: flex;
} 
.link{
    color: black;
    text-decoration: none;
    margin: 0 6px;
    font-weight: bolder;
    font-size: 25px;
}
.bod{
    border: 1px solid tomato;
    border-radius: 24px;
    padding: 10px;
    margin: 10px auto;
    background-image: url(bg_image.avif);
    background-size: cover;
    text-align: center;
    color: rgb(8, 8, 8);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}
.heading{
    padding: 0px;
    font-size: 50px;
    color:aliceblue;
}
.button{
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 25px;
    background-color: rgb(233, 180, 180);
    font-style: italic;
    font-weight: bold;
}
.button:hover{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.emoji{
    font-size: 80px;
    border: 1px;
    padding: 0;
    margin: none;
}
.head{
    border: 2px solid ;
    width: 300px;
    padding: 1px 10px;
    border-radius: 50px;
    margin: 50px auto;
    text-align: center;
    background-color: yellow;
}
.head:hover{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-size: 31px;
    
}
.image-box1{
    width: 350px;
    /* border: 1px solid gray; */
    border-radius: 15px;
    padding: auto;
    margin: 30px auto;
    box-shadow: -8px 20px  6px lightgray;
    box-shadow:inset;
}
.image-box1:hover{
    margin: 20px auto;
    box-shadow: -10px 25px  8px lightgray;
}
.product-name{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.text{
    font-style: italic;
    color:black;
    padding: 10px;
}
.head_text{
    color: aliceblue;
}
.fixed{
    position: fixed;
    width: 45px;
    text-align: center;
    border-radius: 15px;
}
.offer{
    border: 1px solid black;
    padding: 5px 1px;
    width: 300px;
    text-align: center;
    border-radius: 25px;
    background-color: aqua;
    margin: 50px auto;
    position: sticky;
    top: 0;
}
.offer:hover{
    background-color: aquamarine;
    color: black;
    font-weight: bold;
}
.image-box1{
    position: relative;
}
.rating{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(165, 124, 54);
    border-radius: 20px;
    margin: 10px;
    border: 1px solid  rgb(165, 124, 54);
    padding: 0px 3px;
}
@media(max-width:480px)
{
    .bod.heading.image-box1.img.offer.text.nav.nav-bars.nav-head.link{
        padding: auto;
        width: auto;
        border: none;
    }
    .link{
        font-size:x-small;
    }
    .image-box1{
        width: auto;
    }
    .head{
        width: auto;
    }
    .main{
        width: auto;
    }
    .body{
        width: auto;
    }
}

