.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bod{
    border: 5px solid tomato;
    border-radius: 24px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    background-color: tomato;
    text-align: center;
    color: rgb(8, 8, 8);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}
.heading{
    padding: 18px;
    font-size: 50px;
}
.button{
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 25px;
    background-color: aqua;
    font-style: italic;
    font-weight: bold;
}
.emoji{
    font-size: 50px;
    border: 1px;
    padding: 2px;
    margin: none;
}
.head{
    border: 2px solid ;
    width: 350px;
    padding: 10px 15px;
    border-radius: 50px;
    margin: 50px auto;
    text-align: center;
    background-color: yellow;
}
.image-box1{
    width: 350px;
    border: 1px solid gray;
    border-radius: 15px;
    padding: auto; 
    margin: 30px auto;
}
.img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.text{
    font-style: italic;
    color:black;
    padding: 10px;
}
.fixed{
    border: 1px solid black;
    padding: 5px 1px;
    width: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:0;
    right: 0;
    margin: 50px;
    color: rgb(255, 71, 203);
}
.offer{
    border: 1px solid black;
    padding: 5px 1px;
    width: 300px;
    text-align: center;
    border-radius: 25px;
    background-color: aqua;
    margin: 50px auto;
    position: sticky;
    top: 0;
}
.image-box1{
    position: relative;
}
.rating{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(165, 124, 54);
    border-radius: 20px;
    margin: 10px;
    border: 1px solid  rgb(165, 124, 54);
    padding: 0px 3px;
}
@media(width:576px)
{
    .bod.heading.image-box1.img.offer.text.main.head{
        width: auto;
        border: none;
    }
}